<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PROJETOS BCS NARANDIBA</title>
    <link rel="stylesheet" href="css/principal.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
       <script type="text/javascript" src="js/main.js"> </script> 
        
        
</head>

<body>
      <header>
     <div class="container">
        <div class="content-header">
            <div class="logo">
            <img src="img/01.png" width="100px">
            </div>

            <button class="open-nav">
               <span class="line line_1"></span>
               <span class="line line_2"></span>
               <span class="line line_3"></span>
            </button>

       <nav class="menu">
                <ul class="nav-links">
                    
                        <li><a href="/create">VOLUNTÁRIO</a></li>
                        <li><a href="/createDisc">DISCIPLINAS</a></li>
                        <li><a href="#">CURSOS E AÇÕES</a></li>
                        <li><a href="#">PARTCIPANTES</a></li>
                        <li><a href="#">FAMILÍAS CARENTES</a></li>
                        <li><a href="#">PACIENTE</a></li>               
                        
                    </ul>
            </nav>
        </div>
    </div>
</header>

             
        <form class="card" method="POST" action="/principal">
            <section class="details">
            
            <div class="logo2">
                        <img src="img/04.jpg" width="100px">
                    </div>
                <h1 class="ficha">FICHA DE INSCRIÇÃO DE DISCIPLINAS</h1><br>
                <h3>DADOS PESSOAIS</h3><br><br>

               <div class="group">
                    <div class="col">
                     <div class="item">
                        <div>NOME:</div>
                        <div>
                            <input 
                            type="text"
                            name="name" required
                            >
                        </div>
                    </div>
                    <div class="item">
                        <div>BAIRRO:</div>
                        <div>
                            <input 
                            type="text"
                            name="endereço" required
                            >
                        </div>
                    </div>
                    <div class="item">
                        <div>ESTADO CIVIL:</div>
                        <div>
                            <input 
                            type="text"
                            name="Endereço" required
                            >
                        </div>
                    </div>
                    <div class="item">
                        <div>fONE/WHATSAAP:</div>
                        <div>
                            <input 
                            type="text"
                            name="d" required
                            >
                        </div>
                    </div>
                    <div class="item">
                        <div>fONE/CELULAR:</div>
                        <div>
                            <input 
                            type="text"
                            name="f" required
                            >
                        </div>
                    </div>
                    <div class="item">
                        <div>CPF:</div>
                        <div>
                            <input 
                            type="namber"
                            name="birth" required
                            >
                        </div>
                    </div>
                    <div class="item">
                        <div></div>
                        <div>
                            <input 
                            type="email"
                            name="m" 
                            autocomplete="on"
                            id="m"
                            >
                            </div>
                            
                        </div>

                    
               </div>
               <div class="col">
                     <div class="item">
                        <div>ENDEREÇO:</div>
                        <div>
                            <input 
                            type="text"
                            name="t" required
                            >
                        </div>
                    </div>
                    
                    <div class="item">
                        <div>CEP:</div>
                        <div>
                            <input 
                            type="text"
                            name="w" required
                            >
                        </div>
                    </div>
                    <div class="item">
                        <div>E-MAIL:</div>
                        <div>
                            <input 
                            type="email"
                            name="u" required
                            >
                        </div>
                    </div>
                    <div class="item">
                        <div>DATA DE NASCIMENTO:</div>
                        <div>
                            <input 
                            type="date"
                            name="i" required>
                        </div>
                    </div>
                    <div class="item">
                        <div>RG:</div>
                        <div>
                            <input 
                            type="text"
                            name="p" required
                            >
                        </div>
                    </div>
                    
                    
                     <div class="item">
                        <div></div>
                        <div>
                            <input 
                            type="email"
                            name="m" 
                            autocomplete="on"
                            id="m"
                            >
                            </div>
                            
                        </div>
                    </div>
                    
               </div>
            
               <section class="details3">
                <h1 class="ficha"></h1>
                 <h3>DADOS ESCOLARES</h3>
                
                <div class="grauAcad">
                     
                    </div>  
                           <div class="col"
                       <input class="check">
                     
                     <label class="checkbox13">VOCÊ FREQUENTOU ALGUM CURSINHO PRÉ-CONCURSO?</label></div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div>QUAL?</div>
                        <div>
                            <input 
                                type="email"
                                name="name" 
                                autocomplete="on"
                                class="line">
                            </div>                            
                        </div>
                        
                    </div>   
                     <div class="col">
                       <input class="check1"  type="checkbox">
                     <div>
                     <label class="checkbox50">TERMINOU O 2º GRAU</label></div>
                    </div>
                                    
                    <div class="col">
                       <input class="check2"  type="checkbox">
                     <div>
                     <label class="checkbox51">FREQUENTA O 3° ANO DO ENSINO MÉDIO</label></div>
                    </div>
                        <div class="col">
                       <input class="check2"  type="checkbox">
                     <div>
                     <label class="checkbox52">SUPERIOR</label></div>
                    </div>
                    </div>           
                
                

        
            
            </section>
             <section class="details3"><br>
                <h1 class="ficha"></h1>

                <h3>DADOS SÓCIO-ECONÔMICOS</h3>


     <div class="grauAcad">
                     <div class="col">
                <div class="item">
                        <div>VOCÊ ESTÁ:</div>
                        <div>
                          <span><input type="radio" name="gender" value="M" required>EMPREGADO</span>
                        <span><input type="radio" name="gender" value="F" required>DESEMPREGADO</span>
                        <span><input type="radio" name="gender" value="F" required>AUTÔNOMO</span>
                        </div>
                    </div>
                    </div>
                    </div>
                    
                    
                    </div>
                    <div class="col"
                       <input class="check">
                     
                     <label class="checkbox53">FUNÇÃO</label></div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div>QUAL?</div>
                        <div>
                            <input 
                                type="email"
                                name="name" 
                                autocomplete="on"
                                class="line">
                            </div>                            
                        </div>
                        </div>
                        
                    <div class="col"
                       <input class="check">
                     
                     <label class="checkbox54">RENDA</label></div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div>QUAL?</div>
                        <div>
                            <input 
                                type="email"
                                name="name" 
                                autocomplete="on"
                                class="line">
                            </div>                            
                        </div>
                        </div>
                           <div class="col"
                       <input class="check">
                     
                     <label class="checkbox55">EMPRESA</label></div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div>QUAL?</div>
                        <div>
                            <input 
                                type="email"
                                name="name" 
                                autocomplete="on"
                                class="line">
                            </div>                            
                        </div>
                        </div>
                        <div class="col"
                       <input class="check">
                     
                     <label class="checkbox56">TELEFONE</label></div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div>QUAL?</div>
                        <div>
                            <input 
                                type="email"
                                name="name" 
                                autocomplete="on"
                                class="line">
                            </div>                            
                        </div>
                        </div>
                              <div class="col">
                <div class="item">
                        <div>CASA:</div>
                        <div>
                          <span><input type="radio" name="gender" value="M" required>PRÓPRIA</span>
                        <span><input type="radio" name="gender" value="F" required>CEDIDA</span>
                        <span><input type="radio" name="gender" value="F" required>ALUGADA</span>
                          </div>
                         </div>
                        </div>
                        
                         <div class="col">
                <div class="item">
                        <div>RECEBE BOLSA FAMÍLIA:</div>
                        <div>
                          <span><input type="radio" name="gender" value="M" required>SIM</span>
                        <span><input type="radio" name="gender" value="F" required>NÃO</span>
                        
                          </div>
                         </div>
                       </div><br><br>
                       <label class="checkbox57">NÚMERO DO NIS</label></div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div>QUAL?</div>
                        <div>
                            <input 
                                type="email"
                                name="name" 
                                autocomplete="on"
                                class="line">
                            </div>                            
                        </div>
                    </div><br><br>
                    <label class="checkbox13">POR QUE VOCÊ QUER FREQUENTAR O CURSO E POR QUE ACHA QUE MERECE A VAGA?</label></div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div></div>
                        <div>
                            <input 
                                type="email"
                                name="name" 
                                autocomplete="on"
                                class="line">
                            </div>                            
                        </div>
                    </div>
                    </div>   
                </div>

            
            

            
               <center>
               <button class="botao" type="submit">Salvar</button>
               </center>
               </div>
            </section>
        </form>   

    </div>
    
</body>
</html>