<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PROJETOS BCS NARANDIBA</title>
    <link rel="stylesheet" href="css/principal.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
       <script type="text/javascript" src="js/main.js"> </script> 
        
        
</head>

<body>
      <header>
     <div class="container">
        <div class="content-header">
            <div class="logo">
            <img src="img/01.png" width="100px">
            </div>

            <button class="open-nav">
               <span class="line line_1"></span>
               <span class="line line_2"></span>
               <span class="line line_3"></span>
            </button>

       <nav class="menu">
                <ul class="nav-links">
                    
                        <li><a href="/create">VOLUNTÁRIO</a></li>
                        <li><a href="/createDisc">DISCIPLINAS</a></li>
                        <li><a href="/createCursos">CURSOS E AÇÕES</a></li>
                        <li><a href="#">PARTCIPANTES</a></li>
                        <li><a href="#">FAMILÍAS CARENTES</a></li>
                        <li><a href="#">PACIENTE</a></li>               
                        
                    </ul>
            </nav>
        </div>
    </div>
</header>

             
        <form class="card" method="POST" action="/principal">
            <section class="details">
            
            <div class="logo3">
                        <img src="img/05.jpg" width="100px">
                    </div>
                <h1 class="ficha">FICHA DE INSCRIÇÃO DE CURSOS E AÇÕES</h1><br>
                <h3>DADOS PESSOAIS</h3><br><br>
                <h1>CURSOS:</h1>
<div class="select">
   <select name="format" id="format">
      <option selected disabled>Selecione</option>
      <option value="pdf">Preparatório Enem</option>
      <option value="txt">Preparatório Concurso</option>
      <option value="epub">Pré IFBA</option>
      <option value="fb2">Karatê </option>
      <option value="mobi">Boxe</option>
      <option value="mobi">Dança</option>
      <option value="mobi">Maquiagem</option>
      <option value="mobi">Reforço Acadêmico (Química)</option>
      <option value="mobi">Reforço Acadêmico (Física)</option>
      <option value="mobi">Reforço Acadêmico (Biologia)</option>
      <option value="mobi">Reforço Acadêmico (Matemática</option>
      <option value="mobi">Reforço Acadêmico (Língua Portuguesa)</option>
      <option value="mobi">Reforço Acadêmico ( Inglês)</option>
      <option value="mobi">Curso Inglês Básico</option>
   </select>
</div>

               <div class="group">
                    <div class="col">
                     <div class="item">
                        
                    </div>   
                </div>
</div>
            
            

            
               <center>
               <button class="botao" type="submit">Salvar</button>
               </center>
               </div>
            </section>
        </form>   

    </div>
    
</body>
</html>