<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PROJETOS BCS NARANDIBA</title>
    <link rel="stylesheet" href="css/principal.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <script type="text/javascript" src="js/function/validacao.js"></script>
        
</head>

<body>       
        
           <header>
     <div class="container">
        <div class="content-header">
            <div class="logo">
            <img src="img/01.png" width="100px">
            </div>

            <button class="open-nav">
               <span class="line line_1"></span>
               <span class="line line_2"></span>
               <span class="line line_3"></span>
            </button>

       <nav class="menu">
                <ul class="nav-links">
                    
                        <li><a href="/create">VOLUNTÁRIO</a></li>
                        <li><a href="/createDisc"> Create DISCIPLINAS</a></li>
                        <li><a href="#">CURSOS E AÇÕES</a></li>
                        <li><a href="#">PARTCIPANTES</a></li>
                        <li><a href="#">FAMILÍAS CARENTES</a></li>
                        <li><a href="#">PACIENTE</a></li>               
                        
                    </ul>
            </nav>
        </div>
    </div>
</header>
         
        <div class="card">
            <section class="details2">
                <h1 class="ficha">FICHA DE INSCRIÇÃO DE VOLUNTÁRIOS</h1>
                <h2 class="title">DADOS PESSOAIS</h2>
                
                <h3>Detalhes</h3>

               <div class="group">
                    <div class="col">
                     <div class="item">
                        <div>NOME:</div>
                        <div>Tayrone</div>
                    </div>
                    <div class="item">
                        <div>LOCALIDADE:</div>
                        <div>Tayrone</div>
                    </div>
                     <div class="item">
                        <div>TELEFONE:</div>
                        <div>Tayrone</div>
                    </div>
                     <div class="item">
                        <div>NATURALIDADE:</div>
                        <div>Tayrone</div>
                    </div>
                     <div class="item">
                        <div>IDADE:</div>
                        <div>Tayrone</div>
                    </div>
                     <div class="item">
                        <div>DATA EMISSÃO:</div>
                        <div>Tayrone</div>
                    </div>
                <div class="item">
                        <div>CPF:</div>
                        <div>Tayrone</div>
                    </div>
                    <div class="item">
                        <div>CARTEIRA DE HABILITAÇÃO:</div>
                        <div>Tayrone</div>
                    </div>
               </div>
               <div class="col">
                     <div class="item">
                        <div>ENDEREÇO:</div>
                        <div>Tayrone</div>
                    </div>
                    <div class="item">
                        <div>CEP:</div>
                        <div>Tayrone</div>
                    </div>
                    <div class="item">
                        <div>NACIONALIDADE:</div>
                        <div>Tayrone</div>
                        </div>
                        <div class="item">
                        <div>DATA DE NASCIMENTO:</div>
                        <div>Tayrone</div>
                        </div>
                        <div class="item">
                        <div>RG:</div>
                        <div>Tayrone</div>
                    </div>
                     <div class="item">
                        <div>LOCAL EMISSÃO:</div>
                        <div>Tayrone</div>
                    </div>
                    <div class="item">
                        <div>SEXO:</div>
                        <div>Tayrone</div>
                    </div> 
                    <div class="item">
                        <div>E-MAIL:</div>
                        <div>Tayrone</div>
                    </div>
               </div>
               </div>
            </section>

             <section class="details2">
                <h2 class="title">FORMAÇÃO ACADÊMICA</h2>
                <h3>Detalhes</h3>

               <div class="">
                    
                    <div class="col">
                     
                     <div class="item">
                        <div>SEM ESCOLARIDADE:</div>
                        <div>Tayrone</div>
                    </div>
                    <div class="item">
                        <div>ENSINO FUNDAMENTAL:</div>
                        <div>Tayrone</div>
                    </div>
                     <div class="item">
                        <div>ENSINO MÉDIO:</div>
                        <div>Tayrone</div>
                    </div>
                    
                     <div class="item">
                        <div>NÍVEL SUPERIOR COMPLETO:</div>
                        <div>Tayrone</div>
                    </div>
               
                    <div class="item">
                        <div>NÍVEL SUPERIOR INCOMPLETO:</div>
                        <div>Tayrone</div>
                    </div>
                      <div class="item">
                        <div>PÓS GRADUAÇÃO:</div>
                        <div>Tayrone</div>
                        </div>
             
                   
                    <div class="item">
                        <div>MESTRADO/DOUTORADO:</div>
                        <div>Tayrone</div>
                        </div>
                        <div class="item">
                        <div>PROFISSÃO:</div>
                        <div>Tayrone</div>
                        </div>
                        <section class="details2">
                <h2 class="title">VAGA PRETENDIDA</h2>
                <h3>DETALHES</h3>

               <div class="group1">
                    
                    <div class="col">
                     
                     <div class="item">
                        <div>PROFESSOR(A):</div>
                        <div>Tayrone</div>
                    </div>
                    <div class="item">
                        <div>ADVOGADO(A):</div>
                        <div>Tayrone</div>
                    </div>
                     <div class="item">
                        <div>PSICÓLOGO(A):</div>
                        <div>Tayrone</div>
                    </div>
                    
                     <div class="item">
                        <div>MÉDICO(A):</div>
                        <div>Tayrone</div>
                    </div>
               
                    <div class="item">
                        <div>OUTROS:</div>
                        <div>Tayrone</div>
                    </div>
                      
                        <section class="details2">
                <h2 class="title">SITUAÇÃO ATUAL</h2>
                <h3>DETALHES</h3>

               <div class="group1">
                    
                    <div class="col">
                     
                     <div class="item">
                        <div>ESTUDANTE:</div>
                        <div>Tayrone</div>
                    </div>
                    <div class="item">
                        <div>EMPREGADO (A):</div>
                        <div>Tayrone</div>
                    </div>
                     <div class="item">
                        <div>DESEMPREGADO (A):</div>
                        <div>Tayrone</div>
                    </div>
                    
                     <div class="item">
                        <div>REFORMADO (A)/PENSIONISTA:</div>
                        <div>Tayrone</div>
                    </div>
               
                    <div class="item">
                        <div>MILITAR:</div>
                        <div>Tayrone</div>
                    </div>
                      <div class="item">
                        <div>OUTRAS COMPETÊNCIAS:</div>
                        <div>Tayrone</div>
                        </div>
             
                   
                    <div class="item">
                        <div>TEM FORMAÇÃO EM VOLUNTARIADO:</div>
                        <div>Tayrone</div>
                        </div>
                        <div class="item">
                        <div>TEM EXPERIÊNCIA EM VOLUNTARIADO:</div>
                        <div>Tayrone</div>
                        </div>
                        <h2 class="title">QUAIS AS RAZÕES QUE MOTIVAM PARA A PRÁTICA DO VOLUNTARIADO</h2>
                <h3>DETALHES</h3>

               <div class="group2">
                    
                    <div class="col">
                     
                     <div class="item">
                        <div>ALARGAR A REDE DE CONTATOS PESSOAIS:</div>
                        <div>Tayrone</div>
                    </div>
                    <div class="item">
                        <div>OBTENÇÃO DE NOVAS EXPERIÊNCIAS:</div>
                        <div>Tayrone</div>
                    </div>
                     <div class="item">
                        <div>ENSINO MÉDIO:</div>
                        <div>Tayrone</div>
                    </div>
                    
                     <div class="item">
                        <div>SATISFAÇÃO E ENRIQUECIMENTO PESSOAL:</div>
                        <div>Tayrone</div>
                    </div>
               
                    <div class="item">
                        <div>AJUDAR O OUTRO:</div>
                        <div>Tayrone</div>
                    </div>
                      <div class="item">
                        <div>VALORIZAÇÃO PROFISSIONAL:</div>
                        <div>Tayrone</div>
                        </div>
             
                   
                    <div class="item">
                        <div>INCETIVADOS POR TERCEIROS:</div>
                        <div>Tayrone</div>
                        </div>
                        <div class="item">
                        <div>OCUPAÇÃO DE TEMPOS LIVRES:</div>
                        <div>Tayrone</div>
                        </div>
               </div>
               </div>
            </section>
        </div>   

    </div>
</body>
</html>