<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="css/principal.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <script type="text/javascript" src="js/function/validacao.js"></script>
        
</head>

<body>       
        
            <nav>

                    <div class="logo">
                        <img src="img/01.png" width="100px">
                    </div>

                    <ul class="nav-links">
                    
                        <li><a href="/create">EDITAR</a></li>
                        <li><a href="#">DISCIPLINAS</a></li>
                        <li><a href="#">CURSOS E AÇÕES</a></li>
                        <li><a href="#">PARTCIPANTES</a></li>
                        <li><a href="#">FAMILÍAS CARENTES</a></li>
                        <li><a href="#">PACIENTE</a></li>               
                        
                    </ul>
            </nav>
         
        <div class="card">
            <section class="details2">
                <h1 class="ficha">FICHA DE INSCRIÇÃO DE VOLUNTÁRIOS</h1>
                <h2 class="title">DADOS PESSOAIS</h2>
                
                <h3>Detalhes</h3>

               <div class="group">
                    <div class="col">
                     <div class="item">
                        <div>NOME:</div>
                        <div>Tayrone</div>
                    </div>
                    <div class="item">
                        <div>LOCALIDADE:</div>
                        <div>Tayrone</div>
                    </div>
                     <div class="item">
                        <div>TELEFONE:</div>
                        <div>Tayrone</div>
                    </div>
                     <div class="item">
                        <div>NATURALIDADE:</div>
                        <div>Tayrone</div>
                    </div>
                     <div class="item">
                        <div>IDADE:</div>
                        <div>Tayrone</div>
                    </div>
                     <div class="item">
                        <div>DATA EMISSÃO:</div>
                        <div>Tayrone</div>
                    </div>
                <div class="item">
                        <div>CPF:</div>
                        <div>Tayrone</div>
                    </div>
                    <div class="item">
                        <div>CARTEIRA DE HABILITAÇÃO:</div>
                        <div>Tayrone</div>
                    </div>
               </div>
               <div class="col">
                     <div class="item">
                        <div>ENDEREÇO:</div>
                        <div>Tayrone</div>
                    </div>
                    <div class="item">
                        <div>CEP:</div>
                        <div>Tayrone</div>
                    </div>
                    <div class="item">
                        <div>NACIONALIDADE:</div>
                        <div>Tayrone</div>
                        </div>
                        <div class="item">
                        <div>DATA DE NASCIMENTO:</div>
                        <div>Tayrone</div>
                        </div>
                        <div class="item">
                        <div>RG:</div>
                        <div>Tayrone</div>
                    </div>
                     <div class="item">
                        <div>LOCAL EMISSÃO:</div>
                        <div>Tayrone</div>
                    </div>
                    <div class="item">
                        <div>SEXO:</div>
                        <div>Tayrone</div>
                    </div>  asdas
                    <div class="item">
                        <div>E-MAIL:</div>
                        <div>Tayrone</div>
                    </div>
               </div>
               </div>
            </section>

             <section class="details2">
                <h2 class="title">FORMAÇÃO ACÊMICA</h2>
                <h3>Detalhes</h3>

               <div class="group2">
                    
                    <div class="col">
                     
                     <div class="item">
                        <div>SEM ESCOLARIDADE</div>
                        <div>Tayrone</div>
                    </div>
                    <div class="item">
                        <div>LOCALIDADE:</div>
                        <div>Tayrone</div>
                    </div>
                     <div class="item">
                        <div>TELEFONE:</div>
                        <div>Tayrone</div>
                    </div>
                     <div class="item">
                        <div>NATURALIDADE:</div>
                        <div>Tayrone</div>
                    </div>
                     <div class="item">
                        <div>IDADE:</div>
                        <div>Tayrone</div>
                    </div>
                     <div class="item">
                        <div>DATA EMISSÃO:</div>
                        <div>Tayrone</div>
                    </div>
                <div class="item">
                        <div>CPF:</div>
                        <div>Tayrone</div>
                    </div>
                    <div class="item">
                        <div>CARTEIRA DE HABILITAÇÃO:</div>
                        <div>Tayrone</div>
                    </div>
               </div>
               <div class="col">
                     <div class="item">
                        <div>ENDEREÇO:</div>
                        <div>Tayrone</div>
                    </div>
                    <div class="item">
                        <div>CEP:</div>
                        <div>Tayrone</div>
                    </div>
                    <div class="item">
                        <div>NACIONALIDADE:</div>
                        <div>Tayrone</div>
                        </div>
                        <div class="item">
                        <div>DATA DE NASCIMENTO:</div>
                        <div>Tayrone</div>
                        </div>
                        <div class="item">
                        <div>RG:</div>
                        <div>Tayrone</div>
                    </div>
                     <div class="item">
                        <div>LOCAL EMISSÃO:</div>
                        <div>Tayrone</div>
                    </div>
                    <div class="item">
                        <div>SEXO:</div>
                        <div>Tayrone</div>
                    </div>
                    <div class="item">
                        <div>E-MAIL:</div>
                        <div>Tayrone</div>
                    </div>
               </div>
               </div>
            </section>
        </div>   

    </div>
</body>
</html>