@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #e0f2f4;
}

/*== Menu ==*/


.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    min-height: 14vh;
    background: rgb(46, 2, 150);
    box-shadow: 0px 0px 7px 7px black;
    

}

.logo{
    position: relative;
    top: 8px;
}

.content-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.open-nav{
    display: none;
}

nav{
    width: 100%;
    max-width:  800px;
}

nav .nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .nav-links li{
    list-style: none;
}

nav .nav-links a{
    position: relative;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 5px;
   
       
}
nav .nav-links a:hover{
    color: #25a6b8;
}

nav .nav-links a::before{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #25a6b8;
}
nav .nav-links a:hover::before{
    width: 100%;
    transition: all .3s ease;

}

/* Menu Responsivo */

@media (max-width: 425px){
    nav{
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: rgb(46, 2, 150);
    
    }
    nav .nav-links{
        flex-direction: column;
        margin: 0;
        padding: 60px 0 0 0;
    }
    nav .nav-links a{
        display: block;
        margin-bottom: 20px;
    }
    .open-nav{
        position: relative;
        display: block;
        width: 50px;
        height: 30px;
        background-color: rgb(46, 2, 150);
        
        
        
        
    }
    .open-nav .line{
        position: absolute;
        width: 100%;
        height: 4px;
        background: #ffffff;
        left: 0;
        border-radius: 5px;


    }

    .open-nav .line.line_1{
        top: 0;
    }
    
    .open-nav .line.line_2{
        top: 50%;
        transform: translateY(-50%);

    }
    .open-nav .line.line_3{
        bottom: 0;

    }
    button.open-nav.open .line.line_1{
        transform: rotate(35deg);
        transform-origin: left;
    }

    button.open-nav.open .line.line_2{
        left: 100%;
        opacity: 0;
    }
    button.open-nav.open .line.line_3{
        transform: rotate(-35deg);
        transform-origin: left;

    }
    nav.menu.active  {
        left: 0;
    }
}


/* Card */

.card{
    background-color: white;
    width: 1250px;
    height: auto;
    margin: auto;
    position: relative;
    top: 190px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 10px #cccccc;
    

    /* Animation */
    animation: up 800ms ease-out;
}
.group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.group1{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    right: 32px;
    
}



@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 3;
    }
}

/* Details create */

.ficha{
    text-align: center;
    font-size: 42px;
    text-transform: uppercase;
    color: rgb(46, 2, 150);
    border-bottom: 4px solid rgb(46, 2, 150);
    padding-bottom: 15px;
    

}
/* Tela de Create primeira parte */

.details {
    padding: 32px;
}

.details .item{
    border-bottom: 1px solid rgb(0, 0, 0,0.1);
    padding: 15px 4;    
}
.details .item:last-child {
    border: none;
}

.details .item div:nth-child(1){
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}
.details .item div:nth-child(2){
    color: #555;
    font-weight: bold;
    font-size: 28px;
}
.details h3{
    text-transform: uppercase;
    font-weight: bold;
    color:white;
    background-color: rgb(46, 2, 150);
    padding: 1%;
    position: relative;
    width: 25%;
    top: -25px;
    box-shadow:  7px 7px #25a6b8;
    

}

.h3{
    position: relative;
    right: 25px;


}

#h4{
    position: relative;
    right: 25px;
    width: 57%;


}



.details .item span {
    padding:  8px 16px;
    background-color: rgb(46, 2, 150);
    color: white;
    border-radius: 30px;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
}

/* Details principal */


.details2 {
    padding: 32px;
    
}

.details2 .item{
    border-bottom: 1px solid rgb(0, 0, 0,0.1);
    padding: 15px 4;    
}
.details2 .item:last-child {
    border: none;
}

.details2 .item div:nth-child(1){
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}
.details2 .item div:nth-child(2){
    color: #555;
    font-weight: bold;
    font-size: 20px;
}
.details2 h3{
    text-transform: uppercase;
    font-weight: bold;
    color:rgb(46, 2, 150);
}

.details2 .item span {
    padding:  8px 16px;
    background-color: rgb(46, 2, 150);
    color: white;
    border-radius: 30px;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
}





/* Form */

input {
    width: 90%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 18px;

}
input::placeholder{
    font-size: 16px;
    font-weight: normal;
}

button[type="submit"]{
    padding: 8px 32px;
    background-color: rgb(46, 2, 150);
    color: whitesmoke;
    border-radius: 4px;
    margin-top: 70px;
    width: 30%;
    font-size: 16px;
}

.title{
    text-align: center;
    margin: 60px;
    color: rgb(46, 2, 150);
  
}

.details3 h3{
    margin: 25px;
}
.details3 h4{
    margin: 10px;
    color: rgb(46, 2, 150);
    font-size: 24px;
    line-height: 34px;
}

#nivelEscolaridade {
   width: 95%;
   height: 35px;
   border: 1px solid rgb(46, 2, 150);
   

}

.grauAcad {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.line {
    border-bottom: 1px solid rgb(0, 0, 0,0.1);
    padding: 15px 4;
    
    
    
    
}

.col {
    margin-top: 30px;
}










.check{
    position: relative;
    top: 25px;
    left: 275px;
    
    
}
.check1{
    position: relative;
    top: 25px;
    left: 10px;
    
    
}
.check2{
    position: relative;
    top: 25px;
    left: 12px;
    
    
}

.checkbox5{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 400px;
    border-radius: 50px;
    
}


.checkbox6{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 378px;
    border-radius: 50px;
    
}

.checkbox7{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 440px;
    border-radius: 50px;
    
}

.checkbox8{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 342px;
    border-radius: 50px;
    
}
.checkbox9{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 328px;
    border-radius: 50px;
    
}

.checkbox10{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 415px;
    border-radius: 50px;
    
}

.checkbox11{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 359px;
    border-radius: 50px;
    
}

.checkbox12{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 465px;
    border-radius: 50px;
    
}

.checkbox40{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 440px;
    border-radius: 50px;
    
}
.checkbox41{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 437px;
    border-radius: 50px;
    
}
.checkbox42{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 439px;
    border-radius: 50px;
}
.checkbox43{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 467px;
    border-radius: 50px;
    
}
.checkbox44{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 490px;
    border-radius: 50px;
    
}

.checkbox13{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    
    
}
.checkbox{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 425px;
    border-radius: 50px;
    
}

.checkbox1{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 395px;
    border-radius: 50px;
    
}

.checkbox2{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 465px;
    border-radius: 50px;
    
}

.checkbox3{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 314px;
    border-radius: 50px;
    
}

.checkbox4{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 494px;
    border-radius: 50px;
    
}

.checkbox20{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 278px;
    border-radius: 50px;
}

.checkbox21{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 275px;
    border-radius: 50px;
    
}

.checkbox30{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 235px;
    border-radius: 50px;
    
}
.checkbox31{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 328px;  
    border-radius: 50px;
}
.checkbox32{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 274px;
    border-radius: 50px;
    
}
.checkbox33{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 336px;
    border-radius: 50px;
    
}
.checkbox34{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 233px;
    border-radius: 50px;
    
}
.checkbox35{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 320px;
    border-radius: 50px;
    
}
.checkbox36{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 417px;
    border-radius: 50px;
    
}

.logo2{
    position: absolute;
    top: 10px;
    left: 90px;
}
.checkbox37{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 418px;
    border-radius: 50px;
    
}

#experienciaVoluntario{
    width: 48%;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
}

.logo1{
    position: absolute;
    top: 35px;
}

/* Diciplinas DADOS ESCOLARES */
.checkbox50{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 385px;
    border-radius: 50px;
    
}

.checkbox51{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 241px;
    border-radius: 50px;
    
}

.checkbox52{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 478px;
    border-radius: 50px;
    
}

/* Diciplinas DADOS SÓCIO-ECONÔMICOS */

.checkbox53{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 298px;

    
}

.checkbox54{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 310px;

    
}

.checkbox55{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 295px;

    
}

.checkbox56{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 295px;

    
}

.checkbox57{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 295px;   
}

/* Diciplinas - QUAL O TEMPO DISPONIVEL PARA O EXERCÍCIO DO VOLUNTARIADO? */

table, th, td {
    border: 1px solid rgb(46, 2, 150);
  }

  th, td {
    padding: 10px;
  }

  /* Diciplinas - EM QUE ÁREA GOSTARIA DE FAZER VOLUNTARIADO NO PROJETO EDUCAÇÃO DE BASE?*/

  .checkbox58{
    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 415px;   
    border-radius: 50px;
}

.checkbox59{

  width: 60px;
  border: 2px solid rgb(46, 2, 150);
  padding: 5px;
  padding-right: 345px;   
  border-radius: 50px;
}

.checkbox60{

    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 465px;   
    border-radius: 50px;
  }

  .checkbox61{

    width: 60px;
    border: 2px solid rgb(46, 2, 150);
    padding: 5px;
    padding-right: 292px;   
    border-radius: 50px;
  }

  
  